<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<a href="/" th:fragment="body_header">
    <img alt="alternative"
         class="img-fluid w-100"
         src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/4349e3ad-b70b-469a-a3b9-3b9c0e52c21e/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210325%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210325T091118Z&X-Amz-Expires=86400&X-Amz-Signature=60a4133027c8f86baff7ac3ae40b0a72c899118c7f2613c799b313a8f619a48c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22"
         style="position: absolute">
</a>
</body>
</html>