<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="form-group my-0" th:fragment="editor">
    <label>
        <select class="sub-header-search__select" name="target" th:field="*{category}">
            <option value="economy">경제</option>
            <option value="free">자유</option>
            <option value="stock">주식</option>
        </select>
    </label>

    <label for="title"></label>
    <input autocomplete="off" class="form-control" id="title" placeholder="제목을 입력하세요"
           th:field="*{title}"
           type="text"/>

    <label for="content"></label>
    <textarea autocomplete="off" class="form-control" id="content" placeholder="Content" rows="4"
              th:field="*{contents}" type="text"></textarea>
</div>
</body>
</html>