<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="form-group my-0" th:fragment="editor">
    <label>
        <select class="sub-header-search__select" name="target" th:field="*{category}"
                th:if="${is_create == true}">
            <option
                    th:each="value : ${T(com.example.board.entity.PostCategory).values()}"
                    th:text="${value.getTitle()}"
                    th:value="${value.name()}"
            >

            </option>
        </select>

        <select class="sub-header-search__select" name="target" th:field="*{category}"
                th:unless="${is_create == true}">
            <option
                    th:text="${form.getCategory().getTitle()}"
                    th:value="${form.getCategory().name()}"
            >

            </option>
        </select>
    </label>

    <label for="title"></label>
    <input autocomplete="off" class="form-control" id="title" placeholder="제목을 입력하세요"
           th:field="*{title}"
           type="text"/>
    <!--    <p class="error_message" th:text="${title_error}" th:if="${title_error} != null"></p>-->
    <p class="error_message" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>

    <label for="content"></label>
    <textarea autocomplete="off" class="form-control" id="content" placeholder="Content" rows="4"
              th:field="*{contents}" type="text"></textarea>
    <!--    <p class="error_message" th:text="${contents_error}" th:if="${contents_error} != null"></p>-->
    <p class="error_message" th:errors="*{contents}" th:if="${#fields.hasErrors('contents')}"></p>
</div>
</body>
</html>