<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col" th:fragment="board">
    <div class="container border bg-white">
        <div class="row px-3 py-4 d-flex justify-content-between align-middle">
            <h2 class="board-header-title">게시판</h2>
            <a href="#">
                <img alt="글쓰기"
                     src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a5007bd2-4033-4d8a-953c-a9b18c5c5439/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210324%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210324T032243Z&X-Amz-Expires=86400&X-Amz-Signature=11db1d2c21ee746e4d799a374fa3973f4f0e146c5d2fde3baec10789e629d03c&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22"
                     width="24">
            </a>
        </div>
        <div class="row">
            <div class="col-1 board-sub-item">
                인기
            </div>
            <div class="col-1 board-sub-item">
                최신
            </div>
            <div class="col-1 board-sub-item">
                TOP
            </div>
            <div class="col-6">
                <div class="sub-header-search">
                    <form>
                        <label>
                            <select class="sub-header-search__select" name="target">
                                <option value="title">제목</option>
                                <option value="user">작성자</option>
                            </select>
                        </label>
                        <input class="sub-header-search__input" id="search-input" name="q" placeholder="검색" type="text">
                        <a class="sub-header-search__button" href="#">
                            <img alt="검색"
                                 src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a1cd15b9-ac1a-4dd9-a8d8-3b5c8f839b6b/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210324%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210324T044410Z&X-Amz-Expires=86400&X-Amz-Signature=f347e8b177aaf7293fb5c001158f929b72c6b57b5f518b03ec770d29cc0d6489&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22"
                                 width="24">
                        </a>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <section class="article-list article-list--compact">

        <article class="article-list-item">
            <div class="article-list-item__content">
                <div class="article-list-item__vote">
                    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/de02367e-b769-4171-92a3-b53ab29bc568/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210324%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210324T043211Z&X-Amz-Expires=86400&X-Amz-Signature=eebe1b79b9184ba21dc0702e990c1b4ee3e00405362f6cea6cc617fe25c9f399&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22">
                    <div>0</div>
                </div>
                <div class="article-list-item__info">
                    <a href="#">
                        <div class="article-list-item__title">asfsdfasf</div>
                    </a>
                </div>
                <div class="article-list-item-meta">
                    <div class="article-list-item-meta__item article-list-item-meta__item--date">
                        <span>1</span>
                    </div>
                    <div class="article-list-item-meta__item article-list-item-meta__item--author">
                        <a href="#">수지만두</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="article-list-item">
            <div class="article-list-item__content">
                <div class="article-list-item__vote">
                    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/de02367e-b769-4171-92a3-b53ab29bc568/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210324%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210324T043211Z&X-Amz-Expires=86400&X-Amz-Signature=eebe1b79b9184ba21dc0702e990c1b4ee3e00405362f6cea6cc617fe25c9f399&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22">
                    <div>0</div>
                </div>
                <div class="article-list-item__info">
                    <a href="#">
                        <div class="article-list-item__title">asfsdfasf</div>
                    </a>
                </div>
                <div class="article-list-item-meta">
                    <div class="article-list-item-meta__item article-list-item-meta__item--date">
                        <span>1</span>
                    </div>
                    <div class="article-list-item-meta__item article-list-item-meta__item--author">
                        <a href="#">수지만두</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="article-list-item">
            <div class="article-list-item__content">
                <div class="article-list-item__vote">
                    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/de02367e-b769-4171-92a3-b53ab29bc568/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210324%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210324T043211Z&X-Amz-Expires=86400&X-Amz-Signature=eebe1b79b9184ba21dc0702e990c1b4ee3e00405362f6cea6cc617fe25c9f399&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22">
                    <div>0</div>
                </div>
                <div class="article-list-item__info">
                    <a href="#">
                        <div class="article-list-item__title">asfsdfasf</div>
                    </a>
                </div>
                <div class="article-list-item-meta">
                    <div class="article-list-item-meta__item article-list-item-meta__item--date">
                        <span>1</span>
                    </div>
                    <div class="article-list-item-meta__item article-list-item-meta__item--author">
                        <a href="#">수지만두</a>
                    </div>
                </div>
            </div>
        </article>

    </section>

</div>
</body>
</html>