<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col" th:fragment="board">
    <div class="container border bg-white">
        <div class="row px-3 py-4 d-flex justify-content-between align-middle">
            <h2 class="board-header-title">게시판</h2>
            <!--            <a th:href="@{{base_url}/{type}/write(base_url=${base_url}, type=${type})}">-->
            <!--            <a th:href="@{${base_url + '/' + type + '/write'}}" class="btn btn-info">글쓰기-->
            <!--                <a class="btn btn-info" th:href="@{${base_url + '/board/post'}}">글쓰기-->
            <a class="btn btn-info" th:href="@{/board/post}">글쓰기</a>
        </div>
        <div class="row">
            <div class="board-sub-item">
                인기
            </div>
            <div class="board-sub-item">
                최신
            </div>
            <div class="board-sub-item">
                TOP
            </div>
            <div class="sub-header-search">
                <form>
                    <label>
                        <select class="sub-header-search__select" name="target">
                            <option value="title">제목</option>
                            <option value="user">작성자</option>
                        </select>
                    </label>
                    <input class="sub-header-search__input" id="search-input" name="q" placeholder="검색" type="text">
                    <a class="sub-header-search__button" href="#">
                        <img alt="검색"
                             src="https://economy-bucket.s3.ap-northeast-2.amazonaws.com/search.png"
                             width="24">
                    </a>
                </form>
            </div>
        </div>
    </div>

    <section class="article-list article-list--compact">

        <article class="article-list-item" th:each="post : ${post_list}">
            <div class="article-list-item__content">
                <div class="article-list-item__vote">
                    <img src="https://economy-bucket.s3.ap-northeast-2.amazonaws.com/up.png">
                    <div th:text="${post.getLikeCount()}"></div>
                </div>
                <div class="article-list-item__info">
                    <a th:href="@{${'/post/' + post.getId()}}">
                        <div class="article-list-item__title" th:text="${post.getTitle()}"></div>
                    </a>
                </div>
                <div class="article-list-item-meta">
                    <div class="article-list-item-meta__item article-list-item-meta__item--date">
                        <span>1</span>
                    </div>
                    <div class="article-list-item-meta__item article-list-item-meta__item--author">
                        <a href="#">수지만두</a>
                    </div>
                </div>
            </div>
        </article>

    </section>
    <!--    </div>-->

</div>

</body>
</html>