<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col" th:fragment="board">
    <div th:replace="/common/search_section.html :: search_section"></div>

    <section class="article-list article-list--compact">

        <article class="article-list-item" th:each="post : ${post_list.getContent()}">
            <div class="article-list-item__content">
                <div class="article-list-item__vote">
                    <img src="https://economy-bucket.s3.ap-northeast-2.amazonaws.com/up.png">
                    <div th:text="${post.getLikeCount()}"></div>
                </div>
                <div class="article-list-item__info">
                    <a th:href="@{${'/post/' + post.getId()}}">
                        <div class="article-list-item__title">
                            <span class="post-title" th:text="${post.getTitle()}"></span>
                        </div>
                    </a>
                </div>
                <div class="article-list-item-meta">
                    <div class="article-list-item-meta__item article-list-item-meta__item--date">
                        <span th:text="${post.getCreatedAt()}"></span>
                    </div>
                    <div class="article-list-item-meta__item article-list-item-meta__item--author">
                        <a href="#" th:text="${post.getUserDTO().getNickname()}"></a>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <div th:if="${post_list.totalElements} > 1">
        <div th:replace="common/pagination :: paging"></div>
    </div>

    <div th:unless="${post_list.totalElements} < 1">

    </div>
</div>

</body>
</html>