<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col" th:fragment="board">
    <div class="container border bg-white">
        <div class="row px-3 py-4 d-flex justify-content-between align-middle">
            <h2 class="board-header-title">게시판</h2>
            <!--            <a th:href="@{{base_url}/{type}/write(base_url=${base_url}, type=${type})}">-->
            <!--            <a th:href="@{${base_url + '/' + type + '/write'}}" class="btn btn-info">글쓰기-->
            <!--                <a class="btn btn-info" th:href="@{${base_url + '/board/post'}}">글쓰기-->
            <a class="btn btn-info" th:href="@{/board/post}">글쓰기</a>
        </div>
        <div class="row">
            <div class="board-sub-item">
                인기
            </div>
            <div class="board-sub-item">
                최신
            </div>
            <div class="board-sub-item">
                TOP
            </div>
            <div class="sub-header-search">
                <form>
                    <label>
                        <select class="sub-header-search__select" name="target">
                            <option value="title">제목</option>
                            <option value="user">작성자</option>
                        </select>
                    </label>
                    <input class="sub-header-search__input" id="search-input" name="q" placeholder="검색" type="text">
                    <a class="sub-header-search__button" href="#">
                        <img alt="검색"
                             src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/a1cd15b9-ac1a-4dd9-a8d8-3b5c8f839b6b/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210325%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210325T070849Z&X-Amz-Expires=86400&X-Amz-Signature=4f81debbf6911f79b4030e436d79145c7b717c49466a39b18273fd7d99172c4b&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22"
                             width="24">
                    </a>
                </form>
            </div>
        </div>
    </div>

    <section class="article-list article-list--compact">

        <article class="article-list-item" th:each="post : ${post_list}">
            <div class="article-list-item__content">
                <div class="article-list-item__vote">
                    <img src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/de02367e-b769-4171-92a3-b53ab29bc568/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210325%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210325T070814Z&X-Amz-Expires=86400&X-Amz-Signature=2ed9b4431465143d5f9d31582d8b2a1169b93aed35821328d18eb1a380e23777&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22">
                    <div th:text="${post.getLikeCount()}"></div>
                </div>
                <div class="article-list-item__info">
                    <a href="#">
                        <div class="article-list-item__title" th:text="${post.getTitle()}"></div>
                    </a>
                </div>
                <div class="article-list-item-meta">
                    <div class="article-list-item-meta__item article-list-item-meta__item--date">
                        <span>1</span>
                    </div>
                    <div class="article-list-item-meta__item article-list-item-meta__item--author">
                        <a href="#">수지만두</a>
                    </div>
                </div>
            </div>
        </article>

    </section>
    <!--    </div>-->

</div>

</body>
</html>