<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="page-navigation" th:fragment="paging" th:object="${post_list}">
    <nav th:if="${is_search == false}">
        <ul class="pagination justify-content-center"
            th:with="start=${T(Math).floor(post_list.number/10) * 10 + 1},
                last=(${start + 9 < post_list.totalPages ? start + 9 : post_list.totalPages})">

            <li class="page-item" th:classappend="${post_list.first} ? 'disabled' : ''">
                <a class="page-link"
                   th:href="@{${'/board/'+type}(page=1,size=${post_list.size})}">처음</a>
            </li>

            <li class="page-item" th:classappend="${start}-10 < 1 ? 'disabled' :''">
                <a aria-label="Previous" class="page-link"
                   th:href="@{${'/board/'+type}(page=${start}-10,size=${post_list.size})}">
                    <span aria-hidden="true">&larr;</span>
                </a>
            </li>

            <li class="page_item active"
                th:classappend="${page == post_list.number + 1} ? 'active' : ''"
                th:each="page: ${#numbers.sequence(start, last)}">
                <a class="page-link" th:href="@{${'/board/'+type}(page=${page},size=${post_list.size})}"
                   th:text="${page}">
                </a>
            </li>

            <li class="page-item" th:classappend="${last}+1 > ${post_list.totalPages} ? 'disabled' : ''">
                <a aria-label="Previous" class="page-link"
                   th:href="@{${'/board/'+type}(page=${last}+1,size=${post_list.size})}">
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${post_list.last} ? 'disabled' : ''">
                <a class="page-link"
                   th:href="@{${'/board/'+type}(page=${post_list.totalPages},size=${post_list.size})}">끝</a>
            </li>
        </ul>
    </nav>

    <nav th:unless="${is_search == false}">
        <ul class="pagination justify-content-center"
            th:with="start=${T(Math).floor(post_list.number/10) * 10 + 1},
                last=(${start + 9 < post_list.totalPages ? start + 9 : post_list.totalPages})">

            <li class="page-item" th:classappend="${post_list.first} ? 'disabled' : ''">
                <a class="page-link"
                   th:href="@{${'/board/'+type+'/search'}(page=1,size=${post_list.size},target=${target},q=${query})}">처음</a>
            </li>

            <li class="page-item" th:classappend="${start}-10 < 1 ? 'disabled' :''">
                <a aria-label="Previous" class="page-link"
                   th:href="@{${'/board/'+type+'/search'}(page=${start}-10,size=${post_list.size},target=${target},q=${query})}">
                    <span aria-hidden="true">&larr;</span>
                </a>
            </li>

            <li class="page_item active"
                th:classappend="${page == post_list.number + 1} ? 'active' : ''"
                th:each="page: ${#numbers.sequence(start, last)}">
                <a class="page-link"
                   th:href="@{${'/board/'+type+'/search'}(page=${page},size=${post_list.size},target=${target},q=${query})}"
                   th:text="${page}">
                </a>
            </li>

            <li class="page-item" th:classappend="${last}+1 > ${post_list.totalPages} ? 'disabled' :''">
                <a aria-label="Previous" class="page-link"
                   th:href="@{${'/board/'+type+'/search'}(page=${last}+1,size=${post_list.size},target=${target},q=${query})}">
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${post_list.last} ? 'disabled' : ''">
                <a class="page-link"
                   th:href="@{${'/board/'+type+'/search'}(page=${post_list.totalPages},size=${post_list.size},target=${target},q=${query})}">끝</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>