<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="col-4" th:fragment="sidebar">
    <div class="border bg-white sidebar-area">
        <div class="sidebar-content-header" th:if="${#authorization.expr('isAuthenticated()')}">
            <div class="pb-3 sidebar-button__item">
                <span th:text="${'안녕하세요 '+#authentication.getPrincipal().getNickname()+' 님'}"></span>
            </div>
            <div class="sidebar-button">
                <div class="sidebar-button__item">
                    <a class="button button--green" th:href="@{~/logout}">로그아웃</a>
                </div>
            </div>
        </div>

        <div class="sidebar-content-header" th:unless="${#authorization.expr('isAuthenticated()')}">
            <div class="sidebar-button">
                <div class="sidebar-button__item">
                    <a class="button button--green" th:href="@{~/login}">로그인</a>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <div class="sidemenu-title">정보</div>
            <a class="row px-3 py-2 mx-2 mt-2 mb-3 sidemenu-item" th:href="@{~/board/economy-video}">경제 뉴스</a>
        </div>
        <hr>
        <div>
            <div class="sidemenu-title">커뮤니티</div>
            <a class="row px-3 py-2 mx-2 my-1 sidemenu-item" th:href="@{~/board/free}">자유 게시판</a>
            <a class="row px-3 py-2 mx-2 my-1 sidemenu-item" th:href="@{~/board/stock}">주식 게시판</a>
        </div>

    </div>
</div>

</body>
</html>