<html xmlns:th="http://www.thymeleaf.org">
<body>
<script th:fragment="script" th:inline="javascript">
    function clickBoard(obj) {
        document.getElementById("economy").classList.remove("sidebar-menu__item--active")
        document.getElementById("free").classList.remove("sidebar-menu__item--active")
        document.getElementById("stock").classList.remove("sidebar-menu__item--active")
        obj.classList.add("sidebar-menu__item--active");

        let url = [[${base_url}]]

        window.location.href = url + "/board/" + obj.id;

        return false;

        // $.ajax({
        //     url: "/board/" + obj.id,
        //     type:"GET"
        // }).done(function (fragment) {
        //     $("#pList").replaceWith(fragment)
        // })
    }
</script>
</body>
</html>
