spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/board?autoReconnect=true&useUnicode=true&serverTimezone=UTC&characterEncoding=UTF8
    username: root
    password: ghd9413
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        use_sql_comments: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false