<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/css/header :: header">
</head>

<body class="l-content">

<div th:replace="common/main_header.html"></div>
<div class="container">
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-4"></div>
    <div class="row py-4"></div>
    <div class="row">
        <div th:replace="common/sidebar.html :: sidebar">

        </div>

        <div class="col">
            <div class="container border bg-white py-3">
                <h3>글쓰기</h3>
                <form th:action="@{/post}" th:method="post" th:object="${form}">
                    <div th:replace="common/editor.html :: editor"></div>

                    <div class="article-write-buttons">
                        <button class="article-write__button--cancel">취소</button>

                        <button class="article-write__button--submit" type="submit">작성완료</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<script>
    CKEDITOR.replace('content');
</script>

</body>
</html>