<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/css/header :: header">
</head>

<body class="l-content">
<div th:replace="common/main_header.html"></div>
<div class="container">
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-4"></div>
    <div class="row py-4"></div>
    <div class="row">
        <div th:replace="common/sidebar.html :: sidebar">

        </div>

        <div class="col">
            <div class="container border bg-white" th:object="${post}">
                <div class="article-header">
                    <div class="article__title" th:text="${post.getTitle()}">

                    </div>
                    <div class="article-meta">
                        <div class="article-meta-list">
                            <div class="article-list-item-meta__item">
                                <a th:href="@{/board/{type}(type=${post.getCategory()})}"
                                   th:text="${post.getCategory()}"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>