<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/css/header :: header">
</head>

<body class="l-content">
<div th:replace="common/main_header.html"></div>
<div class="container">
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-4"></div>
    <div class="row py-4"></div>
    <div class="row">
        <div th:replace="common/sidebar.html :: sidebar">

        </div>

        <div class="col">
            <div class="border bg-white" th:object="${post}">
                <div class="article">
                    <div class="article-header">
                        <div class="article__title" th:text="${post.getTitle()}">

                        </div>
                        <div class="article-meta">
                            <div class="article-meta-list">
                                <div class="article-list-item-meta__item">
                                    <a th:href="@{/board/{type}(type=${post.getCategory().getCategory()})}"
                                       th:text="${post.getCategory().getTitle()}"></a>
                                </div>
                                <div class="article-list-item-meta__item" th:text="${post.getCreatedAt()}">

                                </div>
                                <div class="article-list-item-meta__item">
                                    <a href="#"
                                       th:text="${post.getUserDTO().getNickname()}"></a>
                                </div>

                            </div>
                            <div class="article-meta-list article-meta-list--right">
                                <div class="article-meta__item">
                                    <span th:text="${'조회 ' + post.getViewCount()}"></span>
                                </div>
                                <div class="article-meta__item">
                                    <span th:text="${'댓글 ' + post.getCommentCount()}"></span>
                                </div>
                                <div class="article-meta__item">
                                    <span th:text="${'추천 ' + post.getLikeCount()}"></span>
                                </div>
                            </div>

                            <div></div>
                        </div>

                        <div class="article-action"
                             th:if="${post.getUserDTO().getEmail() == #authentication.getName()}">
                            <div class="article-action__item">
                                <form th:action="@{${'/post/'+post.getId()+'/delete'}}"
                                      th:method="post">
                                    <button class="btn btn-danger">
                                        삭제
                                    </button>
                                </form>
                            </div>
                            <div class="article-action__item">
                                <a class="btn btn-light" th:href="@{${'/post/'+post.getId()+'/edit'}}">수정</a>
                            </div>
                        </div>
                    </div>
                    <div class="article-content-wrap">
                        <div class="article-content" th:utext="${post.getContents()}"></div>
                    </div>

                </div>

                <!--                <div class="article-box">-->
                <!--                    <div class="article-vote" id="article-vote">-->
                <!--                        <button class="article-vote__button button article-vote__up-arrow&#45;&#45;on"-->
                <!--                                onclick="clickBoardDisLike()" th:if="${post.is_voted  == true}" type="submit">-->
                <!--                            <span class="article-vote__up-arrow"></span>-->
                <!--                            <span class="article-vote__up-count" th:text="${post.getLikeCount()}"></span>-->
                <!--                        </button>-->

                <!--                        <button class="article-vote__button button" onclick="clickBoardLike()"-->
                <!--                                th:unless="${post.is_voted  == true}" type="submit">-->
                <!--                            <span class="article-vote__up-arrow"></span>-->
                <!--                            <span class="article-vote__up-count" th:text="${post.getLikeCount()}"></span>-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div th:replace="common/comment :: comment"></div>

            </div>
        </div>

    </div>
</div>

<script th:inline="javascript">

    function deleteComment(postId, commentId) {
        if (confirm("댓글을 삭제할까요?")) {
            var uri = "/post/" + postId + "/comment/" + commentId + "/delete";
            var html = "";

            html += '<form name="deleteForm" action="' + uri + '" method="post"></form>';

            $("body").append(html);
            document.deleteForm.submit();
        }
    }

    function clickBoardDisLike() {
        const id = [[${post.getId()}]]

        const url = "/post/" + id + "/dislike"

        $.ajax({
            type: "POST",
            url: url,
            data: null,
            success: function (data) {
                alert("성공" + data);
            },
            error: function (error) {
                alert(error);
            }
        })

    }

</script>

</body>
</html>