<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/css/header :: header">
</head>

<body class="l-content">
<div th:replace="common/main_header.html :: main_header"></div>
<div class="container">
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-4"></div>
    <div class="row py-4"></div>
    <div class="row">
        <div th:replace="common/sidebar.html :: sidebar">

        </div>

        <div class="col" th:fragment="board">
            <div class="border bg-white article-not-found">
                <img alt src="https://economy-bucket.s3.ap-northeast-2.amazonaws.com/not-found.png" width="80">
                <div class="article-delete__message">게시물이 삭제되었거나 찾을 수 없습니다.</div>

            </div>
        </div>
    </div>
</div>
</body>
</html>