<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
    <meta charset="UTF-8">
</head>
<body class="l-content">
<img alt="alternative"
     class="img-fluid w-100"
     src="https://s3.us-west-2.amazonaws.com/secure.notion-static.com/4349e3ad-b70b-469a-a3b9-3b9c0e52c21e/Untitled.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20210324%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20210324T054829Z&X-Amz-Expires=86400&X-Amz-Signature=df8732c3d3ffbbcae3fdeddb72c6f74db29c0601782e4370762f48a0036bd2b2&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Untitled.png%22"
     style="position: absolute">

<div class="container">
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-4"></div>
    <div class="row py-4"></div>
    <div class="row">
        <div class="col-4">
            <div class="container border bg-white">
                <div class="mt-3 sidemenu-title">정보</div>
                <a class="row px-3 mx-2 mt-2 mb-3 sidemenu-item">경제 뉴스</a>
                <hr>
                <div class="sidemenu-title">커뮤니티</div>
                <a class="row px-3 mx-2 mt-2 mb-3 sidemenu-item">자유 게시판</a>
                <a class="row px-3 mx-2 mt-2 mb-3 sidemenu-item">주식 게시판</a>
            </div>
        </div>
    </div>

    <div th:replace="/common/$"></div>
</div>
</body>
</html>