<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/css/header :: header">

</head>
<body class="l-content">
<div class="member-card-layout ">
    <div class="member-card-layout__container">
        <div class="member-card-layout__inner px-3 py-3">
            <form method="post" th:action="@{/signup}" th:object="${form}">
                <div class="form-group">
                    <label for="signup-email">이메일 주소</label>
                    <input aria-describedby="emailHelp"
                           class="form-control"
                           id="signup-email"
                           name="email"
                           placeholder="이메일 입력"
                           th:field="*{email}" type="email">
                </div>
                <p class="error_message" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>

                <div class="form-group">
                    <label for="signup-password">비밀번호</label>
                    <input aria-describedby="passwordHelp"
                           class="form-control"
                           id="signup-password"
                           name="password"
                           placeholder="패스워드 입력"
                           th:field="*{password}" type="password">
                </div>
                <p class="error_message" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>

                <div class="form-group">
                    <label for="signup-nickname">닉네임</label>
                    <input aria-describedby="nicknameHelp"
                           class="form-control"
                           id="signup-nickname"
                           name="nickname"
                           placeholder="닉네임 입력"
                           th:field="*{nickname}" type="text">
                </div>
                <p class="error_message" th:errors="*{nickname}" th:if="${#fields.hasErrors('nickname')}"></p>

                <button class="btn btn-info btn-lg btn-block mt-5" type="submit">회원가입</button>
            </form>

            <div class="login__l-sign-up">
                이미 회원이신가요?
                <span>
                        <a th:href="@{~/login}">로그인하기</a>
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>